<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="imag.png" href="../static/img/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Jeff | Portfólio</title>

</head>

<body>


    <i class="bi bi-list menu-mobile"></i>

    <aside id="header"> <!--Barra Lateral-->
        <section class="profile">
            <img src="../static/img/perfil1.jpg" alt="Foto do Jeff">
            <h1>Jefferson Santos</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/oficialjeffs/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/oficialjeffs">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://instagram.com/oficialjeffs">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-door"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>



    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Jeff Santos</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor, Investidor e Youtuber</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p style="text-align: justify;">
                        Sou estudante Desenvolvedor Front-end por volta de 6 meses.
                        Hoje em dia estudo diariamente sobre essa área maravilhosa da programação (em busca do Full
                        Stack). <br>
                        Sou fascinado por criar, desenvolver, então esse ramo encaixou perfeitamente em minhas
                        expectativas de vida.
                        Estou cursando o Discover da Rocketseat para implementar meu conhecimento ainda mais! A área do
                        front-end me agradou muito já que vim do design, tenho grandes conhecimentos no pacote Office
                        pricipalmente Excel Avançado, que amo e que me ajudam diariamente a desenvolver meus projetos.
                        Estudo 4 horas por dia (no mínimo) sobre desenvolvimento WEB.
                        Agora comentando um pouco sobre minha personalidade. Sou fascinado pelo mercado Financeiro.
                        Adoro conversar sobre também, filmes e conteúdos deste ramo online, Toco violão e Guitarra e
                        também amo comida Nordestina..(Pensa num negócio bom..kk)</p>
                </div>
            </div>


            <div class="row mt-4">
                <!--Infos-->
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil2.jpg" alt="Foto do Jeff">
                </div>
                <div class="col-md-8">
                    <h3>Desenvolvedor Web</h3>
                    <p>Atualmente estou participando de pequenos projetos de desenvolvimento focado no mercado
                        financeiro, onde viso desenvolver minhas habilidades técnicas para criação do meu aplicativo
                        financeiro</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">03 de Abril de 1997</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">25 Anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>

                            </ul>

                        </div>
                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Tecnologias que utilizo: <span class="fw-lighter">
                                        py,sql,html,js,css</span></li>
                                <li class="list-group-item">Mercados que atuo: <span class="fw-lighter">Ações e
                                        Criptoativos</span></li>
                                <li class="list-group-item">Xp Desenvolvimento Web: <span class="fw-lighter">6
                                        Meses</span></li>
                                <li class="list-group-item">Xp Mercado Financeiro: <span class="fw-lighter">+ 5
                                        Anos</span></li>
                            </ul>
                        </div>
                    </div>

                    <p>
                        Além de participar e trabalhar em projetos para o mercado financeiro Front e Back, eu também
                        compartilho conteúdos gratúitos no meu instagram,
                        Dando dicas de programação e mercado financeiro, como mercado de Ações, Criptoativos e afins...
                    </p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Em todo tempo como profissional de tecnologias eu adiquiri algumas habilidades técnicas, e não
                    técnicas,
                    a maioria delas estão aqui de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.
                </p>

                <div class="row"> <!--Soft Skills-->
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Java Script</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">My SQL</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">78%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">BootsTrap</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">93%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">React</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">NodeJs</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">React(Native)</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">   <!--Hard Skills-->
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">98%
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Orientação a Detalhes</p>
                        <div class="progress">
                            <!-- animation -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4" >Currículo</h2>
                <div class="row">
                    <div class="col-md-6"> <!--Educação-->
                        <h3 class="cv-title">Educação</h3> 

                        <div class="cv-item">
                            <h4>Ciência da Computação</h4>                                                        <!--Nome do curso-->
                            <h5>2016-2020</h5>                                                                    <!--Data-->
                            <p><em> Faculdade Unicarioca</em></p>                                                 <!--Instituição de ensino-->
                            <p> Atividades e grupos: Participação do Hackathon da Liga das Startups de 
                                Saúde UERJ 2021. Selecionado, através de um processo seletivo, como Monitor 
                                da disciplina Fundamentos da Computação. <strong> Trancado - 6º Período</p></strong>   <!--Descrição-->
                        </div>

                        <div class="cv-item">
                            <h4>Front-end Developer</h4>                                                     <!--Nome do curso-->
                            <h5>2021</h5>                                                                    <!--Data-->
                            <p><em>Udemy</em></p>                                                            <!--Instituição de ensino-->
                            <p>O curso conta com mais de 570 aulas, ao todo são mais de 110 horas
                            de videoaulas em que são abordadas as principais tecnologias web do momento. 
                            Criamos aplicações WEB: Do front ao back-end e banco de dados com HTML5, CSS3, BootStrap 4, JS</p> <!--Descrição-->
                        </div>

                        <div class="cv-item">
                            <h4>CSS - Flex Box</h4>                                                  <!--Nome do curso-->
                            <h5>2022</h5>                                                            <!--Data-->
                            <p><em>Origamid</em></p>                                                 <!--Instituição de ensino-->
                            <p>Fundamentos do Flexbox | Site FlexBlog | Considerações Finais</p>     <!--Descrição-->
                        </div>
                    </div>

                    <div class="col-md-6"> <!--Profissional-->
                        <h3 class="cv-title">Profissional</h3> 

                        <div class="cv-item">
                            <h4>Orientador e Cordenador Pedagógico</h4>                                                  <!--Cargo-->
                            <h5>2013-2016</h5>                                                                           <!--Data-->
                            <p><em>Info School</em></p>                                                                  <!--Empresa-->
                            <p>   Capacitação profissional de jovens e adultos;
                                | Avaliação contínua da metodologia de ensino do processo de aprendizagem;
                                | Construção e atualização de material pedagógico| Treinamento de novos Instrutores</p>  <!--Descrição-->
                        </div>
                        
                        <div class="cv-item">
                            <h4>Assistente administrativo</h4>                                                           <!--Cargo-->
                            <h5>2017-2019</h5>                                                                           <!--Data-->
                            <p><em>Info School</em></p>                                                                  <!--Empresa-->
                            <p> Sistema Facility Management 
                                | Sistema TOTVS| Folha de Ponto | Apontamento de horas extras | Avarias 
                                | Montagem de Propostas | Relatório Gerencial de OS | Controle de EPI's & Uniformes</p>  <!--Descrição-->
                        </div>

                        <div class="cv-item">
                            <h4>Assistente administrativo</h4>                                                           <!--Cargo-->
                            <h5>2020-2021</h5>                                                                           <!--Data-->
                            <p><em>Consórcio Nacional</em></p>                                                           <!--Empresa-->
                            <p> Supervisão|Captação de Clientes | Resoluções Financeiras | Gestão de Qualidade | 
                                 Formação de Equipes</p>                                                                 <!--Descrição-->
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="section-bg mt-5" id="portifolio" >
            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Portfólio</h2>

                

            <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <!--<button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
                </div>

                <div class="carousel-inner">
                        
                    <div class="carousel-item active" data-bs-interval="10000"> <!--Primeira Página-->
                            
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow1.png" class="card-img-top" alt="Projeto de Site Universitário">
                                    <div class="card-body">
                                      <h5 class="card-title">Site Unes</h5>
                                      <p class="card-text">Projeto de criação de Site para testar meus conhecimentos práticos no curso de Desenvolvimento Web.</p>
                                      <a href="https://github.com/oficialjeffs/Site-Unes" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow2.png" class="card-img-top" alt="Projeto Pessoal de Portfólio">
                                    <div class="card-body">
                                      <h5 class="card-title">Portifólio Pessoal</h5>
                                      <p class="card-text">Projeto pessoal de criação de Portifólio para engajar meu perfil e facilitar o acesso do cliente a minhas informações.</p>
                                      <a href="https://github.com/oficialjeffs/Portfolio-MVC" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow3.png" class="card-img-top" alt="Projeto Flex Blog">
                                    <div class="card-body">
                                      <h5 class="card-title">Flex Blog</h5>
                                      <p class="card-text">Projeto final que fiz para curso |CSS-FlexBox| da Origamid para testar meus conhecimentos no curso.</p>
                                      <a href="#portifolio"  class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           
                    </div>                   
                        
                    <div class="carousel-item" data-bs-interval="2000"><!--Segunda Página-->
                       
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow1.png" class="card-img-top" alt="Projeto de Site Universitário">
                                    <div class="card-body">
                                      <h5 class="card-title">Site Unes</h5>
                                      <p class="card-text">Projeto de criação de Site para testar meus conhecimentos práticos no curso de Desenvolvimento Web.</p>
                                      <a href="https://github.com/oficialjeffs/Site-Unes" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow2.png" class="card-img-top" alt="Projeto Pessoal de Portfólio">
                                    <div class="card-body">
                                      <h5 class="card-title">Portifólio Pessoal</h5>
                                      <p class="card-text">Projeto pessoal de criação de Portifólio para engajar meu perfil e facilitar o acesso do cliente a minhas informações.</p>
                                      <a href="https://github.com/oficialjeffs/Portfolio-MVC" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/Slidshow3.png" class="card-img-top" alt="Projeto Flex Blog">
                                    <div class="card-body">
                                      <h5 class="card-title">Flex Blog</h5>
                                      <p class="card-text">Projeto final que fiz para curso |CSS-FlexBox| da Origamid para testar meus conhecimentos no curso.</p>
                                      <a href="#portifolio"  class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>                                  

                        <!--Botões avaçar e Voltar-->
                </div> 
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </section>
    </main>



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>